<div class="home_container">
	<app-card
	gameCover="https://github.com/felipeAguiarCode/angular-psn-store-clone/blob/main/src/assets/bt-5.jpg?raw=true"
	gameLabel= "Digital"
	gameType="PlayStation"
	price="299.99">
</app-card>
		<app-card
			gameCover="https://github.com/felipeAguiarCode/angular-psn-store-clone/blob/main/src/assets/bt-1.jpg?raw=true"
			gameLabel = "Exclusive"
			gameType="XBOX"
			price="399.99">
		</app-card>
			<app-card
			gameCover="https://github.com/felipeAguiarCode/angular-psn-store-clone/blob/main/src/assets/bt-4.jpg?raw=true"
				gameLabel="Premium"
				gameType="DIGITAL"
				price="199.99">
			</app-card>
				<app-card
				gameCover="https://github.com/felipeAguiarCode/angular-psn-store-clone/blob/main/src/assets/bt-hardline.jpg?raw=true"
					gameLabel="Premium"
					gameType="DIGITAL"
					price="199.99">
				</app-card>
</div>

